<h1>POSTS</h1>
<ul class="list-group">
    <!-- <li class="list-group-item" *ngFor="let mensaje of mensajes | async"> -->
        <!-- <h1>{{ mensaje.title }}</h1>
        <p>{{ mensaje.body }}</p> -->

        <app-post *ngFor="let mensaje of mensajes | async"
            [mensaje] = "mensaje"
            (clickPost)= "escuchaClick( $event )">
        </app-post>
    <!-- </li> -->
</ul>